@import "../../scss/ionic.app.scss";

<ion-view view-title="Happening: {{ event.name }}" class="masters">
  <ion-content class="detail">
    <div class="padding"><br>
      <div class="title">{{ event.name }}</div><br>

      <table class="table">
        <tr align="left">
          <th><b>Location &nbsp&nbsp<b></th>
          <th>&nbsp&nbsp{{ event.location }}</th>
        </tr>
        <tr align="left">
          <td><b>Address &nbsp&nbsp<b></td>
          <td>&nbsp{{ event.address }}</td>
        </tr>
        <tr align="left">
          <td><b>Start time &nbsp&nbsp<b></td>
          <td>{{ event.start }}</td>
        </tr>
        <tr align="left">
          <td><b>End time &nbsp&nbsp<b></td>
          <td>{{ event.end }}</td>
        </tr>
        <tr><td>&nbsp</td><td></td></tr>
        <tr>
          <td>&nbsp&nbsp</td>
          <td>{{ event.description }}</td>
      </table>
    </div>


    <div class="padding">
      <map center="{{ event.lat }}, {{ event.lon }}"
           zoom="14">

        <marker position="{{ [event.lat, event.lon] }}">

        </marker>

      </map>
    </div>

    <div class="padding">
      <button class="button button-royal button-block"
              ng-click="delete(event)">
        Delete Event
      </button>
    </div>
  </ion-content>
</ion-view>
