@import "../../scss/ionic.app.scss";

<ion-view view-title="It's Happening!"  class="masters">
  <ion-content padding="true">

    <form ng-submit="create(eventForm)"
          novalidate="novalidate"
          name="eventForm"
          style="background-color:#FFFFFF">
      <ion-list>

        <label class="item item-input item-floating-label"
               ng-class="{'has-error':eventForm.name.$invalid}">
          <span class="input-label">Event name</span>
          <input id="eventName"
                  type="text"
                 placeholder="Event name"
                 name="name"
                 ng-model="formData.name"
                 ng-required="true">
        </label>

        <label class="item item-input item-floating-label"
               ng-class="{'has-error':eventForm.location.$invalid}">
          <span class="input-label">Event location</span>
          <input id="venue"
                  type="text"
                 placeholder="Event location"
                 name="location"
                 ng-model="formData.location"
                 ng-required="true">
        </label>

        <label class="item item-input item-floating-label"
               ng-class="{'has-error':eventForm.address.$invalid}">
          <span class="input-label">Event address</span>
          <input id="eventAddress"
                type="text"
                 placeholder="Event address"
                 name="address"
                 ng-model="formData.address"
                 ng-required="true">
        </label>

        <label class="item item-input item-floating-label"
               ng-class="{'has-error':eventForm.description.$invalid}">
          <span class="input-label">Event description</span>
          <input id="description"
                type="text"
                 placeholder="Event description"
                 name="description"
                 ng-model="formData.description"
                 ng-required="true">
        </label>

        <label class="item item-input"
               ng-class="{'has-error':eventForm.start.$invalid}">
          <span class="input-label">Start time</span>
          <input id="startTime"
                type="datetime-local"
                 placeholder="Start time"
                 name="start"
                 ng-model="formData.start"
                 ng-required="true">
        </label>

        <label class="item item-input"
               ng-class="{'has-error':eventForm.end.$invalid}">
          <span class="input-label">End time</span>
          <input id="endTime"
                type="datetime-local"
                 placeholder="End time"
                 name="end"
                 ng-model="formData.end"
                 ng-required="true">
        </label>

        <label class="item item-input item-floating-label"
               ng-class="{'has-error':eventForm.password.$invalid}">
          <span class="input-label">Password (for event deletion)</span>
          <input id="password"
                type="password"
                 placeholder="Password (for event deletion)"
                 name="password"
                 ng-model="formData.password"
                 ng-required="true">
        </label>

      </ion-list>

      <button
          id="submitBtn"

          class="button button-royal button-block"
          type="submit">
        Create Happening
      </button>

    </form>
  </ion-content>
</ion-view>
