@import "../../scss/ionic.app.scss";

<ion-view view-title="What's Happening?" class="masters">
  <ion-content>

    <ion-refresher
        pulling-text="Refresh"
        on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list card"
         ng-repeat="event in content.events"
         ui-sref="details({id:event.id})">

      <div class="item">
        <h2> {{ event.name }}</h2>
        <p class="sub-title">
          &nbsp <i class="ion-ios-location"></i> &nbsp{{ event.location }}, {{ event.address }} <br>
          &nbsp <i class="ion-ios-clock"></i> {{ event.start }} to {{ event.end }} <br>
          &nbsp <i class="ion-map"></i> {{ Math.round(event.d / 100.0 ) / 10.0 }} km
        </p>

      </div>

    </div>

  </ion-content>
</ion-view>
