/*
Custom css here.
*/

/* Form styling */

form {
  &.ng-submitted {
    label.has-error {
      border-bottom: 2px solid $assertive;
    }
  }
  .form-errors {
    display: none;
  }
}

.centre {
	width: 20px;
	margin-left: auto;
	margin-right: auto;
}
